body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(165, 176, 224);
}

.wrapper {
    width: 60%;
    height: 100%;
    text-align: right;
    margin: 0 auto;
    padding: 0 40px;
    background-color: rgba(248, 237, 229, 0.904);
}

.title {
    position: relative;
    font-size: 2.2em;
    line-height: 120%;
    color: rgb(106, 55, 129);
    margin: 0 0 100px 0;
    padding-top: 50px;
}

.title::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: rgb(131, 145, 106);
}

.author {
    font-style: italic;
    font-size: 1.7em;
    font-weight: 500;
    color: rgb(134, 182, 46);
    margin: 0 0 150px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: rgb(197, 138, 70);
}

.cities {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 0 50px;
}

.cities li:not(:first-child) {
    position: relative;
    margin-left: 20px;
}

.cities li::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 6px;
    left: -12px;
    background-color: rgb(197, 138, 70);
}

.publishing {
    position: relative;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 5px 8px;
    background-color: chocolate;
}

.publishing span {
    margin-right: 5px;
}

.publishing span::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 8px;
    left: 21px;
    background-color: white;
}
